* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  border-top: 5px solid #42b6f3;
}

#root {
  height: 100vh;
}

header {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.blue {
  color: #42b6f3;
}

.p-25 {
  padding: 0.25em;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.flex-direction-col {
  flex-direction: column;
}

.medium-font-weight {
  font-weight: 500;
}

.text-align-center {
  text-align: center;
}

.no-txt-decor {
  text-decoration: none;
}

.black {
  color: black;
}

.blue-on-hover:hover {
  color: #42b6f3;
  transition: all 0.2s ease;
}

.light-text-color {
  color: #818181;
}

.blog > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.light-font-weight {
  font-weight: lighter;
}

.date-font {
  line-height: 1;
  font-size: 13px;
}

.custom-button {
  display: inline-block;
  font-weight: 500;
  color: #a5a5a5;
  padding: 0 20px;
  border-radius: 18px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #e2e2e2;
  font-size: 13px;
  background-color: white;
}

.custom-button:hover {
  border-color: #2b98d3;
  color: #2b98d3;
  transition: all 0.2s ease;
}

.large-margin {
  margin: 30px;
}

.theme-icon {
  border: none;
  background: none;
}

header a{
  text-decoration: none;
}

footer a{
  text-decoration: none;
}

.italic {
  font-style: italic;
}

footer {
  font-size: 0.85em;
}

footer > p {
  padding: 30px;
}

.cursive {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

.ml-2 {
  margin-left: 2px;
}

.home-link {
  color: inherit;
}

.full-vh {
  height: 100vh;
}

.mt-10n {
  margin-top: -10px;
}

.fa-sun {
  color: white;
}